<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- metaTitle %></title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
  <meta name="description" content="<%- metaDescription %>" />
  <meta name="keywords" content="<%- metaKeywords %>">

  <!-- Twitter Card data -->
  <meta name="twitter:card" value="<%- metaDescription %>">

  <!-- Open Graph data -->
  <meta property="og:title" content="<%- metaTitle %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%- metaUrl %>" />
  <meta property="og:image" content="<%- metaImage %>" />
  <meta property="og:caption" content="MIT Media Lab + Tilburg University" />
  <meta property="og:description" content="<%- metaDescription %>"/>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <link rel="stylesheet" href="//f.fontdeck.com/s/css/YXldsFL3hvpHjCi8cWBnWoqWAMM/DOMAIN_NAME/57695.css" type="text/css" />

  <script type="text/javascript">
    gamrConfig = {
      api: '<%= api %>',
      identity: <%- JSON.stringify(identity) %>,
      survey: <%- JSON.stringify(survey) %>,
      gamerTypes: <%- JSON.stringify(gamerTypes) %>,
      assets: <%- JSON.stringify(assets) %>,
      usePushState: <%- usePushState %>
    }
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.10/es5-shim.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.10/es5-sham.min.js"></script>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : <%- fbApp %>,
        xfbml      : true,
        version    : 'v2.4'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="gamr"></div>
  <!-- TODO: shims for IE! -->
  <script type="text/javascript" src="<%= react %>"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script type="text/javascript" src="<%= script %>"></script>
  <div id="fb-root"></div>
</body>
</html>