<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project G.A.M.R</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <link rel="stylesheet" href="//f.fontdeck.com/s/css/YXldsFL3hvpHjCi8cWBnWoqWAMM/DOMAIN_NAME/23099.css?bust=124" type="text/css" />

  <script type="text/javascript">
    gamrConfig = {
      api: '<%= api %>',
      identity: <%- JSON.stringify(identity) %>,
      survey: <%- JSON.stringify(survey) %>,
      usePushState: true
    }
  </script>
</head>
<body>
  <div id="gamr"></div>
  <!-- TODO: shims for IE! -->
  <script type="text/javascript" src="<%= react %>"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script type="text/javascript" src="<%= script %>"></script>
</body>
</html>